/* Main colors:
    #3F51B5
    #FF4081
*/

/* Clearfix from Nicolas Gallagher*/
/* http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


html,body
{
    height: 100%;
}

#tab-contacts, #tab-contacts .page-content, #tab-contacts .page-content .mdl-grid, .contact-cell
{
    height: 100%;
}

/* Contact list component */
.contact-list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contact-list__entry
{
    margin: 0 0;
    padding: 0 16px;
    height: 72px;

    cursor: pointer;
}

.contact-list__entry--active
{
    background-color: #3F51B5;
    color: #fff;
}

.contact-list__image
{
    float: left;
    height: inherit;
    margin-right: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-list__image > img
{
    height: 48px;
}

.contact-list__image--round > img
{
    border: 1px solid transparent;
    border-radius: 50%;
}

.contact-list__main
{
    float:left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 72px;
}

.contact-list__name
{
    font-weight: bold;
    font-size: 16px;
}

.contact-list__additional
{
    float: right;
    text-align: right;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 72px;
}

.contact-list__last-message
{
    color: #777;
    font-size: 14px;
}

.contact-list__entry--active .contact-list__last-message
{
    color: #dddddd;
}

.contact-list__entry:not(:last-child) > .contact-list__border-bottom-wrapper
{
    border-bottom: 1px solid #ddd;
    margin-left: 72px;
}

.contact-cell
{
    background-color: #ffffff;
    position: relative;
    z-index: 5;
}

/* Text field margin wrapper to give the text field its margin without affecting the component */

.textfield-margin-wrapper
{
    margin: 0 16px;
}

/* Overwriting the padding of the header. Original value: 80px. It is too much because the drawer and the drawer icon (hamburger) were removed */

.mdl-layout__header-row
{
    padding-left: 40px;
}

/* Style for the history cards */
.history-card
{
    width: 100%;
}

.history-card > .mdl-card__title
{
    color: #fff;
    height: 180px;
    text-shadow: 1px 1px 0 #333;
}

/* Chat view */
#chat-view
{
    background: url("../img/bg.jpg") center / cover;
    /*display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;*/
    overflow: auto;
    position: relative;
    margin-bottom: 64px;
}

/* Message cards */
.message-card
{
    min-height: 72px;
    margin: 8px 16px;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    width: 90%;
}

.message-card--own
{
    float: right;
    flex-direction: row-reverse;
}

.message-card .mdl-card
{
    min-height: 72px;
    height: auto;
    width: auto;
}

.message-card .mdl-card__title
{
    padding: 8px 16px 4px 16px;
}

.message-card .mdl-card__title-text
{
    font-size: 16px;
    color: #FF4081;
    font-weight: bold;
    margin: 0;
}

.message-card .mdl-card__supporting-text
{
    padding: 8px 16px;
}

.message-card__avatar
{
    min-height: 72px;

    float: left;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    margin-right: 16px;

}

.message-card--own .message-card__avatar
{
    margin-right: 0;
    margin-left: 16px;
}

.message-card__avatar img
{
    height: 48px;
    border-radius: 50%;
}

/* Message input */

.input-bar
{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;

    height: 64px;

    background-color: #ffffff;
}

.input-bar .textfield-margin-wrapper
{
    width: 90%;
}

.input-bar .input-bar__message-area
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.input-bar__send-button
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
